In [2]:
import pandas as pd
xls = pd.ExcelFile('Excel_test_dlouhy.xlsx')
vyroba = pd.read_csv('Excel_test_dlouhy.csv', sep = ';')
z_ceho = pd.read_excel(xls, 'matice_vyroby')
vyroba_kopie=vyroba.copy()
vyroba

     ID_produktu ID_zavodu      Datum  Mnozstvi
0          ND102      ZP30   3.3.2017        25
1          ND123      ZP10  14.5.2018        16
2          ND112      ZP30  10.2.2017        29
3          ND118      ZP20   8.8.2018         1
4          ND119      ZP20  14.1.2018        16
...          ...       ...        ...       ...
2153       ND105      ZP20  21.1.2017        23
2154       ND115      ZP10   9.6.2017        30
2155       ND123      ZP30  28.1.2018         1
2156       ND124      ZP30  17.4.2018        11
2157       ND119      ZP30  29.5.2017        15

[2158 rows x 4 columns]

In [3]:
vyroba['Datum']=pd.to_datetime(vyroba['Datum'])
posledni_mesic=vyroba.loc[(vyroba['Datum']>='2018-12-01')]
posledni_mesic

     ID_produktu ID_zavodu      Datum  Mnozstvi
139        ND116      ZP30 2018-12-07        12
278        ND102      ZP10 2018-12-03        12
355        ND117      ZP20 2018-12-01        25
586        ND114      ZP30 2018-12-06        15
619        ND113      ZP10 2018-12-06        14
744        ND103      ZP20 2018-12-05        27
798        ND104      ZP20 2018-12-04         5
861        ND110      ZP10 2018-12-02         4
964        ND124      ZP20 2018-12-03        19
982        ND117      ZP30 2018-12-05        12
998        ND116      ZP30 2018-12-02        15
1021       ND114      ZP30 2018-12-05         2
1031       ND106      ZP20 2018-12-06        27
1255       ND110      ZP10 2018-12-07        18
1269       ND119      ZP10 2018-12-08         8
1343       ND110      ZP30 2018-12-03        25
1408       ND113      ZP10 2018-12-07        20
1454       ND102      ZP30 2018-12-04        29
1455       ND120      ZP10 2018-12-03         1
1462       ND103      ZP30 2018-12-02        14
1489       ND118      ZP20 2018-12-05        21
1490       ND118      ZP30 2018-12-08        16
1509       ND111      ZP20 2018-12-03         6
1586       ND107      ZP10 2018-12-05        15
1595       ND120      ZP30 2018-12-04         4
1614       ND101      ZP20 2018-12-02        20
1708       ND104      ZP20 2018-12-07        11
1722       ND121      ZP30 2018-12-05        23
1783       ND124      ZP20 2018-12-06         4
1851       ND121      ZP20 2018-12-04        24
1867       ND103      ZP20 2018-12-06        16
1975       ND113      ZP10 2018-12-08         5
2006       ND111      ZP30 2018-12-07        15
2050       ND116      ZP10 2018-12-03        11
2103       ND114      ZP30 2018-12-03        13

# List vyuÅ¾Ã­vanÃ½ch komponentÅ¯

In [4]:
list_komp={}
z_ceho
for comp in z_ceho['ID_komponenty']:
    list_komp[comp]=0

# spotÅ™eba komponent za mÄ›sÃ­c (vyrobeno produktÅ¯ * co je k vÃ½robÄ› potÅ™eba)

In [120]:
for index,komp in enumerate(posledni_mesic['ID_produktu']):
    for dil in z_ceho.loc[z_ceho['ID_produktu']==komp]['ID_komponenty']:
        list_komp[dil]+=int(z_ceho.loc[(z_ceho['ID_komponenty']==dil) & (z_ceho['ID_produktu']==komp)]['Mnozstvi'])*(int(posledni_mesic.iloc[index,3]))
list_komp

{'KO043': 77,
 'KO124': 20,
 'KO193': 60,
 'KO120': 20,
 'KO160': 41,
 'KO167': 82,
 'KO136': 57,
 'KO145': 114,
 'KO038': 114,
 'KO155': 57,
 'KO052': 114,
 'KO168': 32,
 'KO190': 16,
 'KO064': 157,
 'KO195': 84,
 'KO111': 8,
 'KO135': 0,
 'KO028': 81,
 'KO040': 130,
 'KO094': 27,
 'KO019': 54,
 'KO029': 30,
 'KO021': 45,
 'KO108': 0,
 'KO196': 0,
 'KO060': 0,
 'KO182': 8,
 'KO132': 94,
 'KO034': 0,
 'KO147': 47,
 'KO172': 47,
 'KO128': 47,
 'KO127': 63,
 'KO151': 63,
 'KO202': 63,
 'KO159': 0,
 'KO020': 0,
 'KO142': 154,
 'KO090': 39,
 'KO087': 90,
 'KO018': 127,
 'KO203': 30,
 'KO164': 0,
 'KO037': 0,
 'KO073': 0,
 'KO042': 76,
 'KO148': 38,
 'KO174': 74,
 'KO054': 74,
 'KO129': 111,
 'KO134': 60,
 'KO177': 16,
 'KO089': 16,
 'KO044': 47,
 'KO146': 5,
 'KO031': 10,
 'KO070': 94,
 'KO012': 94,
 'KO001': 0,
 'KO171': 0,
 'KO083': 0,
 'KO169': 0,
 'KO078': 23}