In [1]:
import pandas as pd
xls = pd.ExcelFile('Excel_test_dlouhy.xlsx')
dodavky = pd.read_excel(xls, 'dodavky')
dodavky

,ID_dodavatele,ID_skladu,ID_komponenty,Mnozstvi,Datum_objednani,Datum_dodani
0,102ADF,SK02,KO087,1,2018-04-02,2018-04-05
1,999DJT8,SK56,KO048,4,2018-05-08,2018-05-12
2,999DJT8,SK01,KO005,20,2017-04-28,2017-05-02
3,25KOL9,SK01,KO004,3,2017-08-18,2017-08-22
4,999DJT8,SK86A,KO023,3,2017-03-30,2017-04-05
...,...,...,...,...,...,...
2053,102ADF,SK01,KO151,16,2017-09-23,2017-09-30
2054,25KOL9,SK97,KO019,13,2018-02-20,2018-02-23
2055,25KOL9,SK00,KO070,20,2018-01-11,2018-01-15
2056,47EFKT,SK02,KO006,19,2018-03-21,2018-03-24
2057,47EFKT,SK86A,KO182,16,2017-08-18,2017-08-23

# Počet dodávek od dodavatele atd.

In [10]:
dodavky.groupby(['ID_dodavatele']).count()
dodavky.groupby(['ID_dodavatele']).sum()
dodavky.groupby(['ID_dodavatele','ID_komponenty']).sum().sort_values(['Mnozstvi'],ascending=False)['Mnozstvi']

ID_dodavatele  ID_komponenty
25KOL9         KO111            173
102ADF         KO023            163
47EFKT         KO001            148
999DJT8        KO205            136
               KO108            132
                               ...
               KO044              7
47EFKT         KO196              5
25KOL9         KO124              4
               KO090              3
999DJT8        KO107              2
Name: Mnozstvi, Length: 374, dtype: int64

# Práce s časem (zpoždění)

In [22]:
dodavky['doba_doruceni']=dodavky['Datum_dodani']-dodavky['Datum_objednani']
dodavky['doba']=dodavky['doba_doruceni'].astype(str)
dodavky['doba']=dodavky['doba'].str[0:2].astype(int)
dodavky.groupby(['ID_dodavatele']).mean()['doba']

,ID_dodavatele,ID_skladu,ID_komponenty,Mnozstvi,Datum_objednani,Datum_dodani,doba_doruceni,zpozdeni,doba
0,102ADF,SK02,KO087,1,2018-04-02,2018-04-05,3 days,NaN,3
1,999DJT8,SK56,KO048,4,2018-05-08,2018-05-12,4 days,NaN,4
2,999DJT8,SK01,KO005,20,2017-04-28,2017-05-02,4 days,NaN,4
3,25KOL9,SK01,KO004,3,2017-08-18,2017-08-22,4 days,NaN,4
4,999DJT8,SK86A,KO023,3,2017-03-30,2017-04-05,6 days,NaN,6
5,47EFKT,SK02,KO070,17,2017-02-25,2017-03-04,7 days,NaN,7
6,25KOL9,SK97,KO049,1,2018-03-29,2018-04-11,13 days,6.0,13
7,25KOL9,SK00,KO200,13,2017-09-06,2017-09-13,7 days,NaN,7
8,25KOL9,SK97,KO070,9,2017-04-30,2017-05-06,6 days,NaN,6
9,999DJT8,SK56,KO190,9,2017-05-17,2017-05-20,3 days,NaN,3
10,47EFKT,SK56,KO044,15,2017-02-28,2017-03-10,10 days,3.0,10
11,47EFKT,SK11,KO078,4,2018-02-02,2018-02-08,6 days,NaN,6
12,999DJT8,SK86A,KO120,9,2017-07-15,2017-07-21,6 days,NaN,6
13,102ADF,SK00,KO135,6,2017-08-18,2017-08-25,7 days,NaN,7
14,25KOL9,SK56,KO040,16,2017-03-20,2017-03-23,3 days,NaN,3
15,999DJT8,SK02,KO064,7,2017-11-21,2017-11-27,6 days,NaN,6
16,47EFKT,SK02,KO029,11,2018-06-22,2018-06-28,6 days,NaN,6
17,47EFKT,SK97,KO151,6,2017-05-07,2017-05-14,7 days,NaN,7
18,102ADF,SK11,KO064,10,2017-10-14,2017-10-21,7 days,NaN,7
19,999DJT8,SK01,KO106,15,2018-02-18,2018-02-25,7 days,NaN,7
20,999DJT8,SK56,KO168,17,2018-03-24,2018-03-28,4 days,NaN,4
21,25KOL9,SK56,KO142,2,2018-06-08,2018-06-16,8 days,1.0,8
22,47EFKT,SK01,KO050,20,2018-07-26,2018-08-02,7 days,NaN,7
23,47EFKT,SK01,KO181,17,2018-07-17,2018-07-22,5 days,NaN,5
24,999DJT8,SK97,KO034,5,2018-02-08,2018-02-13,5 days,NaN,5
25,102ADF,SK97,KO047,19,2017-05-13,2017-05-16,3 days,NaN,3
26,102ADF,SK11,KO008,16,2018-05-16,2018-05-23,7 days,NaN,7
27,47EFKT,SK56,KO070,18,2017-07-17,2017-07-26,9 days,2.0,9
28,47EFKT,SK56,KO040,7,2018-01-25,2018-01-30,5 days,NaN,5
29,102ADF,SK86A,KO109,10,2017-12-30,2018-01-06,7 days,NaN,7

# Standartní deviace zpoždění

In [38]:
import numpy as np
dodavky['zpozdeni']=dodavky['doba']-7
dodavky.loc[~(dodavky['zpozdeni']>0),'zpozdeni']=np.nan
dodavky.groupby(['ID_dodavatele']).mean()['zpozdeni']
deviace=dodavky['zpozdeni']
deviace.std(skipna=True)
dodavky_dod=dodavky.loc[dodavky['ID_dodavatele']=='999DJT8']
deviace_dod=dodavky_dod['zpozdeni']
deviace_dod.std(skipna=True)

2.3859063308537163